@using Microsoft.AspNetCore.Components
@using Students.Assignment.Shared.People

<EditForm Model="@Student" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label>ID number :</label>
        <div>
            <InputText @bind-Value="@Student.IDNumber"/>
            <ValidationMessage For="@(() => Student.IDNumber)"/>
        </div>
    </div>
    <div class="form-group">
        <label>First Name :</label>
        <div>
            <InputText @bind-Value="@Student.FirstName"/>
            <ValidationMessage For="@(() => Student.FirstName)"/>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Last Name :</label>
            <div>
                <InputText @bind-Value="@Student.LastName"/>
                <ValidationMessage For="@(() => Student.LastName)"/>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Date of birth :</label>
            <div>
                <InputDate @bind-Value="@Student.DateOfBirth"/>
                <ValidationMessage For="@(() => Student.DateOfBirth)"/>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Gender :</label>
            <div>
                <InputSelect @bind-Value="@Student.Gender">
                    @foreach (var gender in Enum.GetValues(typeof(Person.GenderEnum)))
                    {
                        <option value="@gender">@gender</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Student.Gender)"/>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Date of enrollment :</label>
            <div>
                <InputDate @bind-Value="@Student.DateOfEnrollment"/>
                <ValidationMessage For="@(() => Student.DateOfEnrollment)"/>
            </div>
        </div>
    </div>
    @* <div class="form-group "> *@
    @*     <div> *@
    @*         <label>Course :</label> *@
    @*         <div> *@
    @*             <inputCourse value="@Student.Course"/> *@
    @*             <ValidationMessage For="@(() => Student.Course)"/> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    <div class="nav-tabs-body p-4">
        @Student?.Course
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>

</EditForm>


@code {

    [Parameter]
    public Student Student { get; set; }

    [Parameter]
    public string ButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}